{% import "bootstrap/wtf.html" as wtf %}
{% include "navbar.html" %}

    <!--Header-->
    <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Contact Me</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">
          You can write whatever you want to write to me here.
        </p>
      </div>
    </div>
  </div>

    <!--Form-->

    <div class="bg-body-tertiary" style="padding-bottom: 200px;">
      <br>
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                  {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "warning"}) }}
              </div>
          </div>
      </div>
    </div>

{% include "footer.html" %}
